.CustomPin {
    border: solid 5px #4c8125;
    border-radius: 10px;
    position: relative;
    height: 50px;
    width: fit-content;
    max-width: 50px;


}

.CustomPin > img{
    border-radius: inherit;
    width: 100%;
    height: 100%;
    max-width: 285px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Tip {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 8px solid #4c8125;
    border-radius: 0;
    border-bottom-right-radius: 3px;
    z-index: -1;
    left: 50%;
    transform: translateY(22%) translateX(-50%) rotate(45deg);
    transition: all 0.2s ease-in-out;
}